<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md=""
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

<div fxFlex *ngIf="book">
  <div fxFlex="40">
     <p>Book Details</p>
     <hr>
    <mat-card>
       <mat-card-header>
         <mat-card-title>
           <h3 *ngIf="book"> {{book.name | uppercase}} </h3>
         </mat-card-title>
       </mat-card-header>
       <img mat-card-image src={{book.image}} alt={{book.name}}>
       <mat-card-content>
         <p>{{book.description}}</p>
       </mat-card-content>
       <mat-card-actions>
         <button mat-button [routerLink]="['/bookdetails',prev]">
           <span class="fa fa-chevron-left fa-lg"></span>
         </button>
         <button mat-button (click)="goBack()">BACK</button>
         <button mat-button>LIKE</button>
         <button mat-button>SHARE</button>
         <span flex-spacer></span>
         <button mat-button [routerLink]="['/bookdetails',next]">
           <span class="fa fa-chevron-right fa-lg"></span>
         </button>
       </mat-card-actions>
     </mat-card>
   </div>
   <div fxFlex="40" *ngIf="book">
       <p>Comments</p>
       <hr>
       <mat-card-header>
         <mat-card-title>
           <h3> {{book.name | uppercase}} </h3>
         </mat-card-title>
       </mat-card-header>
         <mat-list >
           <h3>Comments</h3>
               <mat-list-item *ngFor="let comment of book.comments">
                 <h4 matLine> {{comment.comment}} </h4>
                 <p matLine> {{comment.rating}} </p>
                 <p matLine>
                   <span> -- {{comment.author}} {{comment.date | date}} </span>
                 </p>
               </mat-list-item>
         </mat-list>
       </div>
</div>

<div fxFlex [hidden]="book">
  <mat-spinner></mat-spinner><h4>Loading..Please wait</h4>
</div>


</div>
